# Font Config File

# most of these colors aren't actually used TODO:...
backgroundcolor = 187; 45; 45; 45
outlinecolor = 157; 125; 190; 190
buttoncolor = 195; 45; 45; 45
buttonoutlinecolor = 157; 255; 255; 255
buttonfontcolor = 255; 220; 220; 220
buttonfonthovercolor = 255; 235; 255; 235
errorcolor = 255; 120; 242; 20
shadowcolor = 110; 1; 5; 13
gaugecolor = 255; 254; 222; 228
inventoryhovercolor = 255; 20; 20; 20

# ingame texts
guiFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf 
guiFontTTFSize = 12
guiFontTTFAntialias = true

consoleFont = GUI/Fonts/commodore.png
consoleFontTTFSize = 0
consoleFontTTFAntialias = true

introFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
introFontTTFSize = 16
introFontTTFAntialias = true

# ingame large captions
hudFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
hudFontTTFSize = 16
hudFontTTFAntialias = true

menuFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
menuFontTTFSize = 16
menuFontTTFAntialias = true

menuTextFont = GUI/Fonts/DejaVu/DejaVuSans.ttf
menuTextFontTTFSize = 10
menuTextFontTTFAntialias = true

menuOptionFont = GUI/Fonts/DejaVu/DejaVuSans.ttf
menuOptionFontTTFSize = 10
menuOptionFontTTFAntialias = true

chatConsoleFont = ../Mods/Frostbite&Horror/Frostbite-Horror/GUI/Fonts/FranklinGhotic.ttf
chatConsoleFontTTFSize = 10
chatConsoleFontTTFAntialias = true

# Config file for the GUI Skin (CImageGUISkin)
#
# Source border is the border width (in pixels) on the texture.
# Dest border is the border width on the screen (also in pixels).
#
# .Texture = filename
# .SrcBorder = top,left,bottom,right
# .Color = alpha,red,green,blue

Button.Texture = GUI/DarkMicroStoneMetallic.png
Button.SrcBorder=7,7,7,7

ButtonPressed.Texture = GUI/DarkMicroStoneMetallic.png
ButtonPressed.SrcBorder=7,7,7,7
ButtonPressed.Color=255,196,196,196

SunkenPane.Texture = GUI/BorderStoneMetallic.png
SunkenPane.SrcBorder=7,7,7,7
SunkenPane.DstBorder=7,7,7,7

Pane.Texture = GUI/SimpleStoneMetallic.png
Pane.SrcBorder=7,7,7,7

Window.Texture = GUI/SimpleStoneMetallic.png
Window.SrcBorder=7,7,7,7

ProgressBar.Texture = GUI/DarkMicroStoneMetallic.png
ProgressBar.SrcBorder=7,7,7,7

ProgressBarFilled.Texture = GUI/SimpleStoneMetallic.png
ProgressBarFilled.SrcBorder=7,7,7,7

Rectangle.Texture = GUI/SimpleStoneMetallic.png
Rectangle.SrcBorder=7,7,7,7

ToolBar.Texture = GUI/FramedStoneMetallic.png
ToolBar.SrcBorder=7,7,7,7

# ingame GUI elements made to not break main menu graphics
# UButton, UButtonPressed, UButtonHover, UPane, USunkenPane, UFramedPane, UProgressBar, URectangle, UWindow;

GameButton.Texture = GUI/SimpleStoneMetallic.png
GameButton.SrcBorder=7,7,7,7

GameButtonPressed.Texture = GUI/BorderStoneMetallic.png
GameButtonPressed.SrcBorder=7,7,7,7
GameButtonPressed.Color=255,212,212,212

GameButtonHover.Texture = ../Mods/Frostbite&Horror/Frostbite-Horror/GUI/PolishedStoneMetallic.png
GameButtonHover.SrcBorder=8,8,8,8

GamePane.Texture = 
GamePane.SrcBorder=7,7,7,7

GameSunkenPane.Texture = GUI/BorderStoneMetallic.png
GameSunkenPane.SrcBorder=7,7,7,7

GameFramedPane.Texture = GUI/FramedStoneMetallic.png
GameFramedPane.SrcBorder=7,7,7,7

GameProgressBar.Texture = GUI/DarkBorderStoneMetallic.png
GameProgressBar.SrcBorder=7,7,7,7

GameRectangle.Texture = GUI/DarkMicroStoneMetallic.png
GameRectangle.SrcBorder=7,7,7,7

GameWindow.Texture = GUI/ChatTextureMetallic.png
GameWindow.SrcBorder= 8,8,8,8

Bubble.Texture = GUI/BubbleMetallic.png
Bubble.SrcBorder=8,8,8,8
